<nav class="menuss">
  <div class="menu">
    <div class="menu-icon" id="menu-icon">
      <span class="menu-bar"></span>
      <span class="menu-bar"></span>
      <span class="menu-bar"></span>
    </div>
    <div class="close-icon" id="close-icon">
      <span class="close-bar"></span>
      <span class="close-bar"></span>
    </div>
    <div class="logo">TISSO VISON</div>
  </div>
