<nav class="menuss">
         
  <div class="menu">  
    <div class="menu-icon" id="menu-icon">
      <span class="menu-bar"></span>              s               
      <span class="menu-bar"></span>       
      <span class="menu-bar"></span>
    </div>          
    
      <div class="close-icon" id="close-icon"  >
      <span class="close-bar"></span>
      <span class="close-bar"></span>
    </div>
    
    <div class="logo">TISSO VISON</div>
  </div>
  
    <div class="menu-content" id="menu-content">
    <p>Find the ideal gift for your loved ones.</p>
    <a href="#" class="cta-button"
      >CHOOSE GIFT
      <span class="arrow_icon">