<!-- Section HTML -->
<section class="popup-section">
  <div class="container">
    <h2>Hheading</h2>
    <div class="grid">
    </div>
  </div>
</section>

  <!-- Popup -->
            <div id="popup-" class="popupss">
              <div class="popup-content">
                <span class="close">&times;</span>
                <div class="popup-inner">
                  <div class="popup-image">
                    <div class="products_imagge">
                      <img src="/">
                      
                    </div>
                    <div class="products_details"></h3>
                      <p class="price"></p>
                      <p class="description"></p>
                    </div>
                  </div>
                                      <!-- Size Options -->
                   
                        <div class="dropdown-container">
                          <label class="drop-labels" for=""></label>
                          <div class="drop-downs">
                            <div class="names">Choose your  </div>
                            <span class="emptys"></span>
                          </div>
                        </div>
                </div></div>